<header>
  <span class="logo-mark">TECH_SALON</span>
  <%= content_tag(:span, flash.notice, class: 'notice') if flash.notice %>
  <%= content_tag(:span, flash.alert, class: 'alert') if flash.alert %>
  <%=
    if current_cliant
      link_to 'ログアウト', :cliant_session, method: :delete
    else
      link_to 'ログイン', :cliant_login
    end
  %>
</header>